[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
dj-database-url = "*"
django = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
opencv-python = "*"
dj_static = "*"
python-decouple = "*"
dj-database-url = "*"
Django = "1.9.7"
django-heroku = "*"
django-realtime = "*"
django-toolbelt = "*"

[requires]
python_version = "2.7.14"